/HW1/HW1.X/build/
/HW1/HW1.X/dist/
/HW4/HW4.X/build/
/HW4/HW4.X/dist/
/HW2/HW6.X/build/
/HW2/HW6.X/dist/
/HW5/HW5.X/dist/
/HW5/HW5.X/build/
/HW7/HW7.X/build/
/HW7/HW7.X/dist/
/HW8/HW8/firmware/HW8.X/build/
/HW8/HW8/firmware/HW8.X/dist/
/HW10/HW10/firmware/HW10.X/build/
/HW10/HW10/firmware/HW10.X/dist/
/HW11/HW11/firmware/HW11.X/build/
/HW11/HW11/firmware/HW11.X/dist/
/HW12/HW12/firmware/HW12.X/build/
/HW12/HW12/firmware/HW12.X/dist/
/HW9/HW9/firmware/HW9.X/build/
/HW9/HW9/firmware/HW9.X/dist/